.imgg img{
    background-color: #22335C;
    padding: 3px;
}
p{
    color: #ffffff ;
}
.mincapt{
  padding-left: 48px;
    color: #31c37d;
}
.adv-caption{
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    color: #ffffff;
}
.analis{
    height: 30%;
    margin-bottom: 10px;
}
.plus{
    min-height: 220px;
    border: 8px  solid rgba(143, 150, 172, 0.24);
    border-radius: 4px;
    margin: 35px 5px;
    padding: 10px;

}
.imgg{
    background-color: transparent;
    margin-top: -50px;
    margin-right: 61%;
    margin-left: 10%;
    padding-left: 2%;
}
.adv-content{
    height: 100%;
}
