.imgg img{
    margin-top: -12px;
}
p{
    color: #ffffff ;
}
.mincapt{
    color: #31c37d;
}
.adv-caption{
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    color: #ffffff;
}
.analis{
    margin-bottom: 10px;
}
.plus{
    min-height: 235px;
    min-width: 260px;
    border: 8px  solid rgba(143, 150, 172, 0.24);
    border-radius: 4px;
    margin: 35px 5px;
    padding: 17px 15px 15px 17px;
    transition: all .35s ease-in-out;
}
@media (min-width: /*768 - отключить увеличение в мобильной версии*/0px) {
    .plus:hover {
        -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
        border: 8px solid rgba(143, 150, 172, 0.6);
    }
}
.imgg{
    background-color: transparent;
    margin-top: -50px;
    margin-right: 61%;
    margin-left: 10%;
    padding-left: 2%;
}
.adv-content{
    height: 100%;
}
