body{
  height: 100vh;
  display:flex;
  align-items: center;
  background-image: url("../img/signin/signin_bg.png"); /*ВОТ ЭТУ ЛИНКУ ЛУЧШЕ ПРОВЕРИТЬ*/
  background-repeat: no-repeat;
  background-size: 100%;
}
p{
  margin-bottom: 40px;
  margin-top: 10px;
}
a{
  width: 290px !important;
}
.btn-recover2{
  background-color: rgba(39, 174, 96, 0.44);
  border-color: #27AE60;
  color:white;
}
